:root {
    --green-dark: #003747;
    --green-medium: #194B59;
    --green-light: #466E7A;
    --orange-light: #f3900e;
    --orange-medium: #f8641e;
    --orange-dark: #ed4f05;
    --red: #fe0000;
    --dark: #303030;
    --medium-grey: #c9c9c9;
    --light-grey: #f7f7f7;
    --white: #fff;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

main {
    display: flex;
    min-height: 100vh;
}


/*  */
/* SIDEBAR */

.sidebar {
    position: fixed;
    min-width: 360px;
    width: 30vw;
    height: 100%;
    flex: 1 1 23%;
    padding: 50px 14px;
    background-color: var(--green-dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* profile section */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.profile-pic-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-dark);
    /* border: 2px solid black; */
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.profile-pic-wrapper::after {
    filter: blur(.2rem);
}

.profile-pic-wrapper::before,
.profile-pic-wrapper::after {
    content: '';
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--orange-light),
        var(--orange-light),
        var(--orange-dark),
        var(--orange-dark),
        var(--red),
        var(--orange-dark),
        var(--orange-dark),
        var(--orange-light),
        var(--orange-light));
    border-radius: 50%;
    animation: rotation 3s linear infinite;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    to { --gradient-angle: 360deg; }
}

.profile-pic-wrapper img {
    border-radius: 50%;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}

.highlight {
    color: var(--orange-medium);
    font-weight: 600;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card-img-wrapper {
    width: 25px;
    height: 25px;
}

.card-img-wrapper img {
    color: var(--orange-light);
}

.recharts {
    p {
        display: none;
    }

    .card-img-wrapper {
        width: 100px;
    }
}

/* tech-stack section */
.tech-stack {
    display: flex;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 12px;
}


/* view section */
.view {
    width: max-content;
    margin-top: auto;
    margin-inline: auto;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
    /* border: 1px solid var(--green-light); */
    border-radius: 4px;
}

.dropdown {
    position: relative;
    --width: 125px;
}

.selected-view {
    width: var(--width);
    padding: 0 12px;
    cursor: pointer;
}

.dropdown-content {
    bottom: calc(1.4rem + 8px);
    max-height: 0;
    width: var(--width);
    position: absolute;
    background-color: var(--green-light);
    border-radius: 4px 4px 0 0;
    pointer-events: none;
    overflow: hidden;
    transition: max-height .2s ease-in-out,
        padding-top .2s ease-in-out,
        padding-bottom .2s ease-in-out;
}

.dropdown-content.active {
    max-height: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    pointer-events: all;
}

.dropdown-content:not(.active) {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-content p {
    padding: 3px 12px;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: var(--green-medium);
}


/*  */
/* PROJECTS */

.projects {
    max-height: 100vh;
    margin-left: max(360px, 30vw);
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    overflow-y: hidden;
}

/* project details */
.project-details {
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    overflow: hidden;
}

.info {
    width: calc(100vw - 24px);
    margin-left: 0;
    text-align: center;
    text-wrap: pretty;
    color: var(--medium-grey);
}

.up {
    transform: translateY(-70px);
    opacity: 0;
}

.down {
    transform: translateY(70px);
    opacity: 0;
}

.stack-details {
    width: 100%;
    position: absolute;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 24px;
    color: var(--dark);
    transition: opacity .2s, transform .3s ease-out;
    transition-delay: .1s;
}

.stack-details.active {
    transform: translateY(0);
}


/* projects grid */
.projects-grid {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 400px));
    justify-content: center;
    align-content: flex-start;
    gap: 40px 50px;
    padding: 8px 20px;
    overflow-y: auto;
}

.project {
    height: 325px;
    background-color: var(--white);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    color: var(--dark);
    box-shadow: 3px 3px 10px -5px var(--green-medium);
    transition: all .2s;
}

.project:hover {
    box-shadow: 3px 3px 10px 0 var(--green-medium);
}

.header-img-wrapper {
    max-height: 90px;
    height: 100%;
    display: flex;
}

.header-img-wrapper img {
    border-radius: 14px 14px 0 0;
}

.project > *:not(.header-img-wrapper) {
    padding: 12px 24px;
}

.project h3 {
    font-size: 1.5rem;
}

.project-links {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--medium-grey);
    border-radius: 0 0 14px 14px;
}

.project-link {
    padding: 8px 16px;
    font-weight: 600;
    color: var(--medium-grey);
}

.project-link.enabled:hover {
    color: var(--orange-light);
}

.project-link.enabled:active {
    color: var(--orange-medium);
    text-shadow: 0 0 2px var(--orange-light);
}

.enabled {
    cursor: pointer;
    color: var(--dark);
}

.overlay {
    display: none;
}

.overlay.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay p {
    font-size: 10rem;
    font-weight: 600;
    color: var(--red);
    animation: flicker 3s infinite;
}

@keyframes flicker {
    0%, 20% {
        opacity: 1;
    }
    20.1%, 30% {
        opacity: 0;
    }
    30.1%, 50% {
        opacity: 1;
    }
    50.1%, 60% {
        opacity: 0;
    }
    60.1%, 80% {
        opacity: 1;
    }
    80.1%, 90% {
        opacity: 0;
    }
    90.1%, 100% {
        opacity: 1;
    }
}

/* MEDIA QUERIES */
@media (max-width: 785px) {
    main {
        position: relative;
        flex-direction: column;
    }

    .sidebar {
        position: relative;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        justify-content: space-between;
    }

    .profile {
        gap: 25px;
    }
    .view {
        display: none;
    }

    .projects {
        margin-left: 0;
        flex: none;
        padding-bottom: 12px;
        height: 100vh;
        overflow-y: auto;
    }

    .project-details {
        top: 0;
        min-height: 90px;
        background-color: var(--light-grey);
        overflow-x: auto;
        justify-content: flex-start;
    }

    .stack-details {
        flex-wrap: nowrap;
        justify-content: flex-start;
        /* box-shadow: 0 3px 2px var(--medium-grey); */
    }

    .projects-grid {
        padding: 0 44px 30px 44px;
        overflow: visible;
        gap: 30px;
    }

    .profile-pic-wrapper {
        z-index: 1;
    }

    .profile-pic-wrapper img {
        background-color: var(--green-dark);
    }
}
